@keyframes color-font-change{
    from {color: #c32aa3;}
    to {color:#ffdc7c;}
    to {color: #f46f30;}
  }

  body {
    width: 100%;
  }
  
  /*nav bar */

a {
  margin-top: 10%;
  margin-bottom: 10%;
}

  .nav li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Concert One', cursive;
    font-size: 25px;
    padding: 10px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding:10px;
    border-radius: 8px;  
    border-width: 2px;
    border-style: solid;
    border-color: #c32aa3;
  }
  
  .nav-link:hover {
    color: #c32aa3;
    background-color: white;
    transition: ease-in 0.1s;
    border-style: solid;
    border-radius: 8px;  
    border-width: 2px;
    border-color: white;
    text-decoration: none;
    margin-top: 10%;
    margin-bottom: 10%;
  }


  
  .logo {
    height: 150px;
    width: 150px;
    margin-left: 90px;
    border-radius: 100%;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: whitesmoke;
    background: linear-gradient(270deg, #c32aa3 27% , #ffdc7c, #f46f30);
    padding: 5px 16px;
    text-decoration: none;
    /* box-shadow: 5px 10px 18px grey;
    margin-bottom: 10px; */
  }
  
  .Login {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Love Ya Like A Sister';
    font-size: 25px;
  }



/*Hero-Image*/

.hero-image {
    width: 100%;
  }

.hero-image-container {
    width: 100%;
    opacity: 100%; 
    position: relative;
    display: inline-block;
}


.hero-page-headline {
  background: rgba(0, 0, 0, 0.425);
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 30%;
    text-align: left;
    font-size: xx-large;
    padding-bottom: 30%;
    width: 100%;
}



.hero-title {
    margin-left: 10%;
    margin-top: 8%;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.hero-title2 {
    margin-left: 30%;
    color: #c32aa3;
    animation-name: color-font-change;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-family: 'Oswald', sans-serif;
}


/*blurb container */

.blurb-container {
    text-align: center;
    font-size: xx-large;
}

.blurb-text {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 5%;
}



/* about page */


.about-content-container {
  font-size: xx-large;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding-left:10%;
  padding-right: 10%;
  padding-bottom: 5% ;
  padding-top: 5%;
}

.about-hero-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.about-image-logo {
  position: absolute;
  right: 40%;
  left: 40%;
  top: 30%;
  border-radius: 100%;
  box-shadow: 5px 10px 18px rgb(80, 80, 80);
  margin-bottom: 10px;
}



.who-we-are-container {
  background-color: #c32aa3;
  padding-left:10%;
  padding-right: 10%;
  padding-bottom: 5% ;
  padding-top: 5%;
  text-align: center;
  font-size: xx-large;
  font-family: 'Oswald', sans-serif;
  top: 40%;
}




/*footer*/

  .footer-container {
      background-color: #666666;
      width: 100%;
      height: 100%;
      right: auto;
      left: auto;
      text-align: center;
  }